
java/hibernate-polymorphism-bug/.settings/

java/hibernate-polymorphism-bug/.classpath

java/hibernate-polymorphism-bug/.project

java/hibernate-polymorphism-bug/bin/

java/hibernate-polymorphism-bug/.gradle/

.DS_Store

java/quarkus-orm-package-info-ignored-bug/.mvn/
